# node
node_modules

# build
dist

# tests
coverage

# public 
env.js

# webpack bundle analyzer
webpack_stats.json

# Tye folders
.tye/
.volumes/

# playwright test artifacts
test-results/
playwrightTests/test-results/
playwrightTests/test-reports
/playwright/.cache/
/.DS_Store

#secrets
.env
