# node
node_modules

# build
dist

# tests
coverage

# public 
env.js

# webpack bundle analyzer
webpack_stats.json

# Tye folders
.tye/
.volumes/

playwrightTests/test-results/
playwrightTests/test-reports
!playwrightTests/**/test-results/**/snapshots.spec.ts-snapshots/
/playwright/.cache/
/.DS_Store

#secrets
.env
