#//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
#@harrybin:registry=https://npm.pkg.github.com
always-auth=true

npm config set strict-ssl false
# set legacy-peer-deps to ignore peer dependency error
npm config set legacy-peer-deps true
